{% extends "admin/home_page.html" %}
{% block admin_content %}
<style>
    .admin-membership-container {
        padding-left: 5%;
        width: 75vw;
        height: 80vh;
        padding-top: 5%;
        font-family: sans-serif;
        display: flex;
        align-items: center;
        flex-direction: column;
    }


    /* modal cancel button
 */
    .close-button {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 1.5rem;
        background: none;
        border: none;
        color: white;
        cursor: pointer;

    }


    .login-box {
        width: 400px;
        padding: 40px;
        background: rgba(10, 0, 34, 0.874);
        box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
        border-radius: 10px;


    }

    .login-box h2 {
        margin: 0 0 30px;
        padding: 0;
        color: #fff;
        text-align: center;
    }

    .login-box .user-box {
        position: relative;
    }

    .login-box .user-box input {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
    }

    .login-box .user-box label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        transition: .5s;
    }



    .login-box form a {
        position: relative;

        padding: 10px 20px;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        transition: .5s;
        margin-top: 40px;
        letter-spacing: 4px
    }

    .login-box a:hover,
    .membership-update-btn:hover {
        background: #03e9f4;
        color: #000000;
        border-radius: 5px;
        box-shadow: 0 0 5px #03e9f4,
            0 0 25px #03e9f4,
            0 0 50px #03e9f4,
            0 0 100px #03e9f4;
    }

    .addbtn {
        font-size: larger;
        background: transparent;
        color: white;
        border: none;
        font: bold;
        text-transform: uppercase;
    }

    .close-button:hover {
        scale: 1.2;
    }

    #dialog {
        box-shadow: hsla(184, 98%, 49%, 0.935) 0px 4px 16px, hsla(184, 98%, 49%, 0.935) 0px 8px 24px, hsla(184, 98%, 49%, 0.935) 0px 16px 56px;
        backdrop-filter: blur(13px);
    }
</style>

<div class="admin-membership-container bg-current ">
    <div class="login-box p-4 ">
        <h2 class="uppercase text-bold tracking-wide">Update Membership</h2>
        <form method="post">
            {% csrf_token %}
            <div class="user-box">
                <input type="text" name="name" required="" value="{{data.title}}">
           

            </div>
            <div class="user-box">
                <input type="text" name="duration" required="" value="{{data.duration}}">

            </div>
            <div class="user-box">
                <input type="text" name="price" required="" value="{{data.price}}">

            </div>
            <div class="user-box">
                <input type="text" name="regular_price" required="" value="{{data.regular_price}}">

            </div>
            <a href="{% url 'update_memberships' data.id %}">

                <button type="submit" class="addbtn">
                    Update
                </button>
            </a>


        </form>
    </div>
</div>
{% endblock %}