{% extends "base.html" %}
{% load static %}
{% load custom_tags %}
{% block style %}
    <style>
        .glassmorphism-bg {
            background: rgba(255, 255, 255, 0.50); 
            backdrop-filter: blur(30px); 
            border-radius: 20px; 
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }
        .glassmorphism-card {
            background: rgba(255, 255, 255, 0.40); 
            backdrop-filter: blur(10px); 
            border-radius: 15px; 
            transition: all 0.3s ease;
            box-shadow: 0 1px 1px rgba(0,0,0,0.11), 0 2px 2px rgba(0,0,0,0.11), 0 4px 4px rgba(0,0,0,0.11), 0 8px 8px rgba(0,0,0,0.11), 0 16px 16px rgba(0,0,0,0.11), 0 32px 32px rgba(0,0,0,0.11);
        }
        .glassmorphism-card:hover {
            transform: translateY(-5px); 
            box-shadow: 5px 5px 20px;
        }
        .glassmorphism-card-content {
            padding: 1.5rem;
        }
        .glassmorphism-card-content h2 {
            font-size: 1.25rem;
            font-weight: 600;
            margin-bottom: 0.5rem;
        }
        .glassmorphism-card-content p {
            font-size: 0.875rem;
            color: #666;
        }
        .glassmorphism-card-actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 1rem;
        }
        .glassmorphism-card-actions button {
            background: none;
            border: none;
            cursor: pointer;
            outline: none;
            font-size: 1rem;
            color: #666;
            display: flex;
            align-items: center;
        }
        .glassmorphism-card-actions button i {
            margin-right: 0.5rem;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="max-w-6xl mx-auto p-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
            {% for item in data %}
                <div class="glassmorphism-card bg-white shadow-md overflow-hidden">
                    <div class="flex items-center p-2">
                        {% if item.user.profile_image %}
                            <img class="w-10 h-10 object-cover mr-2 rounded-2xl" src="/media/{{ item.user.profile_image }}" alt="{{ item.user }}">
                        {% else %}
                            <img class="w-10 h-10 object-cover mr-2" src="{% static 'static_profile_image/default_profile_image.jpg' %}" alt="User Icon">
                        {% endif %}
                        <div>
                            <h2 class="text-sm font-semibold">{{ item.user }}</h2>
                            <sub class="text-gray-500 text-xs">{{ item.created_at.date }}</sub>
                        </div>
                    </div>
                    <a href="{% url 'get_image' item.id %}">
                        <img src="/media/{{ item.image }}" alt="{{ item.desc }}" class="w-full h-64 object-cover px-2">
                    </a>
                    <div class="glassmorphism-card-content">
                        <div class="flex justify-between items-center mb-2">
                            <div class="flex space-x-4">
                                <div class="relative">
                                    {% is_liked item.id as liked %}
                                    <button class="like-button" data-id="{{ item.id }}" data-url="{% url 'image_portfolio' item.id %}">
                                        <i class="fa fa-heart {% if liked %}text-red-600{% else %}text-gray-400{% endif %}" style="font-size:24px"></i>
                                        <span>{{ item.like }}</span>
                                    </button>
                                    <button class="dislike-button" data-id="{{ item.id }}" data-url="{% url 'image_portfolio' item.id %}">
                                        <i class="fa fa-thumbs-down {% if disliked %}text-red-600{% else %}text-gray-400{% endif %}" style="font-size:24px"></i>
                                        <span>{{ item.dislike }}</span>
                                    </button>
                                </div>
                            </div>
                            <button class="focus:outline-none comment-button" data-id="{{ item.id }}" data-url="{% url 'comment_page' item.id %}">
                                <i style='font-size:24px' class='far'>&#xf4ad;</i>
                                {% if item.comment %}{{ item.comment }}{% endif %}
                            </button>
                        </div>
                        <p class="mt-2" style="color:black;font-size:20px;">{{ item.desc }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        <script>
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        
            const csrftoken = getCookie('csrftoken');
            
            $(document).ready(function() {
                $(document).on('click', '.like-button', function(event) {
                    event.preventDefault();
                    var $button = $(this);
                    $.ajax({
                        url: $button.data('url'),
                        type: 'POST',
                        data: {
                            'id': $button.data('id'),
                            'like': 'like',
                            'csrfmiddlewaretoken': csrftoken
                        },
                        success: function(response) {
                            $button.find('i').toggleClass('text-gray-400 text-red-600');
                            $button.find('span').text(response.like);
                        },
                        error: function(xhr, status, error) {
                            console.error('Like submission failed:', error, xhr.responseText);
                        }
                    });
                });
        
                $(document).on('click', '.dislike-button', function(event) {
                    event.preventDefault();
                    var $button = $(this);
                    $.ajax({
                        url: $button.data('url'),
                        type: 'POST',
                        data: {
                            'id': $button.data('id'),
                            'like': 'dislike',
                            'csrfmiddlewaretoken': csrftoken
                        },
                        success: function(response) {
                            $button.find('i').toggleClass('text-gray-400 text-red-600');
                            $button.find('span').text(response.dislike);
                        },
                        error: function(xhr, status, error) {
                            console.error('Dislike submission failed:', error, xhr.responseText);
                        }
                    });
                });
            });
        </script>
    </script>
{% endblock %}
