{% extends "base.html" %}
{% block content %}

<div class="max-w-6xl mx-auto">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    {% for i in data %}
    <!-- Image card (replace with your dynamic data) -->
    <div class="bg-white rounded-lg shadow-md overflow-hidden">
      <img src="/media/{{ i.image }}" alt="{{ i.desc }}" class="w-full h-48 object-cover rounded-t-lg">
      <div class="p-4">
        <h2 class="text-lg font-semibold">{{ i.title }}</h2>
        <p class="text-gray-600 mt-2">{{ i.desc }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
