{% extends "base.html" %}
{% load static %}
{% load custom_tags %}
{% block style %}
    <style>
    /* Modal Enter Animation */
    .modal-enter {
      opacity: 0;
      transform: scale(0.95);
    }
  
    .modal-enter-active {
      opacity: 1;
      transform: scale(1);
      transition: opacity 300ms, transform 300ms;
    }
  
    /* Modal Exit Animation */
    .modal-exit {
      opacity: 1;
      transform: scale(1);
    }
  
    .modal-exit-active {
      opacity: 0;
      transform: scale(0.95);
      transition: opacity 300ms, transform 300ms;
    }

    /* Glassmorphism Effect */
    .glass {
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.5);
    }
    </style>
{% endblock style %}
{% block content %}
    <div class="max-w-6xl mx-auto p-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            {% for item in data %}
                <div class="p-4">
                    <div class="bg-white glass rounded-xl overflow-hidden shadow-lg hover:shadow-2xl transition-shadow duration-300 ease-in-out flex flex-col h-full">
                        <a href="{% url 'get_image' item.id %}">
                            <img src="/media/{{ item.image }}"
                                 alt="{{ item.desc }}"
                                 class="w-full h-48 object-cover rounded-t-xl">
                        </a>
                        <div class="flex flex-col p-4 flex-grow">
                            <div class="flex items-center mb-4">
                                {% if item.user.profile_image %}
                                    <img class="w-12 h-12 object-cover rounded-full border-2 border-indigo-500"
                                         src="/media/{{ item.user.profile_image }}"
                                         alt="{{ item.user.username }}">
                                {% else %}
                                    <img class="w-12 h-12 object-cover rounded-full border-2 border-indigo-500"
                                         src="{% static 'static_profile_image/default_profile_image.jpg' %}"
                                         alt="Default Profile Image">
                                {% endif %}
                                <div class="ml-3">
                                    <p class="font-semibold text-gray-800">{{ item.user.username }}</p>
                                    <p class="text-sm text-gray-600">{{ item.created_at.date }}</p>
                                </div>
                            </div>
                            <p class="text-gray-800 text-base mb-4 truncate hover:underline cursor-pointer"
                               onclick="openModal('{{ item.id }}', '{{ item.desc }}', '/media/{{ item.image }}')">
                                {{ item.desc }}
                            </p>
                            <div class="flex items-center justify-between space-x-4">
                                <form class="like-dislike-form flex items-center space-x-2"
                                      data-id="{{ item.id }}">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="like">
                                    <input type="hidden" name="like" value="{{ item.like }}">
                                    {% is_liked item.id as liked %}
                                    <button type="submit"
                                            name="like"
                                            class="flex items-center space-x-2 text-gray-600 hover:text-red-600 transition-colors duration-300">
                                        <i style="background-image:{% if liked %} url('{% static 'icons/liketrue.png' %}') {% else %} url('{% static 'icons/likefalse.png' %}') {% endif %};
                                                  background-size: cover;
                                                  width: 24px;
                                                  height: 24px;
                                                  display: inline-block"></i>
                                        <span class="like-count text-sm">{{ item.like|default:"0" }}</span>
                                    </button>
                                </form>
                                <form method="POST" action="{% url 'image_portfolio' item.id %}">
                                    {% csrf_token %}
                                    <button type="submit"
                                            value="comment"
                                            name="comment"
                                            class="flex items-center space-x-2 text-gray-600 hover:text-blue-600 transition-colors duration-300">
                                        <i style="background-image: url('{% static 'icons/three-dots-in-a-speech-bubble-svgrepo-com.svg' %}');
                                                  background-size: cover;
                                                  width: 24px;
                                                  height: 24px;
                                                  display: inline-block"></i>
                                        {% if item.comment %}{{ item.comment }}{% endif %}
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- Modal -->
    <div id="descriptionModal"
         class="fixed inset-0 z-50 flex items-center justify-center hidden bg-gray-800 bg-opacity-75">
        <div class="bg-white rounded-lg shadow-xl max-w-lg w-full mx-4 p-6 relative transition-transform duration-300 ease-in-out transform scale-0"
             id="modalContent">
            <button class="absolute top-2 right-2 text-gray-500 hover:text-gray-800"
                    onclick="closeModal()">
                <svg class="w-6 h-6"
                     fill="none"
                     stroke="currentColor"
                     viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
            <img id="modalImage"
                 src=""
                 alt="Modal Image"
                 class="w-full h-64 object-cover mx-auto my-4 p-6 rounded-lg">
            <p id="modalDescription"
               class="text-gray-800 text-base text-center px-4 py-2"></p>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".like-dislike-form").submit(function(e) {
                e.preventDefault();
                var $form = $(this);
                var id = $form.data("id");
                var action = $form.find('input[name="action"]').val();
                var $likeButton = $form.find('button[name="like"]');
                var currentLikeCount = parseInt($likeButton.siblings('input[name="like"]').val(), 10);
                console.log()
        
                $.ajax({
                    type: "POST",
                    url: `{% url 'image_portfolio' 0 %}`.replace('0', id),
                    data: {
                        "like": action
                    },
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    success: function(response) {
                        $.ajax({
                            type: "GET",
                            url: `getlikedislikecount/${id}`,
                            success: function(response) {
                                var newLikeCount = response.like;
                                $form.find("span.like-count").text(newLikeCount);
                                if (newLikeCount > currentLikeCount) {
                                    $form.find('button[name="like"] i').css("background-image", `url('{% static 'icons/liketrue.png' %}')`);
                                } else {
                                    $form.find('button[name="like"] i').css("background-image", `url('{% static 'icons/likefalse.png' %}')`);
                                }
                            },
                            error: function() {
                                console.error("Error fetching updated like and dislike counts.");
                            }
                        });
                    },
                    error: function() {
                        alert("An error occurred while processing your request.");
                    }
                });
            });
        });
        
        function openModal(id, description, imageSrc) {
            var modal = document.getElementById('descriptionModal');
            var modalContent = document.getElementById('modalContent');
            document.getElementById('modalDescription').innerText = description;
            document.getElementById('modalImage').src = imageSrc;
            modal.classList.remove('hidden');
            modalContent.classList.remove('scale-0');
            modalContent.classList.add('scale-100');
            modalContent.classList.add('modal-enter-active');
            setTimeout(() => modalContent.classList.remove('modal-enter-active'), 300); // Remove class after animation
        }
        
        function closeModal() {
            var modal = document.getElementById('descriptionModal');
            var modalContent = document.getElementById('modalContent');
            modalContent.classList.add('modal-exit-active');
            modalContent.classList.remove('scale-100');
            modalContent.classList.add('scale-0');
            setTimeout(() => {
                modal.classList.add('hidden');
                modalContent.classList.remove('modal-exit-active');
            }, 300); // Delay hiding to allow animation to complete
        }
    </script>
{% endblock %}
