{% extends "index.html" %}
{%block content%}
<!-- <h1>Reset Your password</h1>
{% if validlink %}
<p>Please enter your new password</p>
<form action="." method="post">
    {{form.as_p}}
    {% csrf_token %}
    <p><input type="submit" value="change my password"></p>
</form>
{% else %}
<p>
    Link is invalid. Please try again
</p>
{% endif %} -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
    </style>
</head>

<body>
    <div class="mt-3 flex justify-center ">
        <div class="max-w-md w-full bg-white p-4 shadow-md rounded-md">
            <h1 class="text-3xl font-semibold mb-4">Reset Your Password</h1>
            {% if validlink %}
            <p class="mb-4">Please enter your new password</p>
            <form action="." method="post">
                {{ form.non_field_errors }}
                <div class="mb-4">
                    <label for="id_new_password1" class="block text-sm font-medium text-gray-700">New Password</label>
                    {{ form.new_password1 }}
                </div>
                <div class="mb-4">
                    <label for="id_new_password2" class="block text-sm font-medium text-gray-700">Confirm
                        Password</label>
                    {{ form.new_password2 }}
                </div>
                {% csrf_token %}
                <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md">Change My
                    Password</button>
            </form>

            {% else %}
            <p class="text-red-500">Link is invalid. Please try again.</p>
            {% endif %}
        </div>
    </div>
</body>

</html>

{%endblock%}