{% extends "base.html" %}
{% load static %}
{% load custom_tags %}
{% block content %}
<div class="max-width-container">
    <div class="grid-container">
        {% for item in data %}
        <div class="glassmorphism card">
            <!-- Part 1: User Info (Username, Date, Follow Button) -->
            <div class="profile-header">
                <div class="user-info">
                    <img src="{% if item.user.profile_image %}/media/{{ item.user.profile_image }}{% else %}{% static 'static_profile_image/default_profile_image.jpg' %}{% endif %}"
                        alt="{{ item.user.username }}" class="profile-image">
                    <div class="profile-details">
                        <a href="{% url 'user_profile' item.id %}">
                            <p class="profile-username">{{ item.user.username }}</p>
                        </a>
                        <p class="profile-date">{{ item.created_at.date }}</p>
                    </div>
                </div>
                <div class="follow-button-container">
                    <form class="follow-request-form" data-id="{{ item.id }}">
                        {% is_followed item.user.id as followed %}
                        {% if followed %}
                        <button type="submit" class="follow-button">Unfollow</button>
                        {% else %}
                        <button type="submit" class="follow-button">Follow</button>
                        {% endif %}
                    </form>
                </div>
            </div>

            <!-- Part 2: Image Section -->
            <a href="{% url 'get_image' item.id %}" class="image-link">
                <img src="/media/{{ item.image }}" alt="{{ item.desc }}" class="card-image">
            </a>

            <!-- Part 3: Actions (Like, Comment, Description) -->
            <div class="action-buttons">
                <div class="like-comment-actions">
                    <form class="like-dislike-form" data-id="{{ item.id }}">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="like">
                        <input type="hidden" name="like" value="{{ item.like }}">
                        {% is_liked item.id as liked %}
                        <button type="submit" name="like" class="like-button">
                            <i class="icon"
                                style="background-image: url('{% if liked %}{% static 'icons/liketrue.png' %}{% else %}{% static 'icons/likefalse.png' %}{% endif %}');"></i>
                            <span class="like-count">{{ item.like|default:"0" }}</span>
                        </button>
                    </form>
                    <form method="POST" action="{% url 'image_portfolio' item.id %}" class="comment-form">
                        {% csrf_token %}
                        <button type="submit" class="comment-button">
                            <i class="icon"
                                style="background-image: url('{% static 'icons/three-dots-in-a-speech-bubble-svgrepo-com.svg' %}');"></i>
                            {% if item.comment %}<span class="comment-count">{{ item.comment }}</span>{% endif %}
                        </button>
                    </form>
                </div>

                <!-- Description Section -->
                <div class="description-container">
                    <p class="description"
                        onclick="openModal('{{ item.id }}', '{{ item.desc|escapejs }}', '/media/{{ item.image }}')">
                        {{ item.desc|truncatewords:10 }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<!-- Modal -->
<div id="descriptionModal" class="fixed inset-0 z-50 flex items-center justify-center hidden bg-black bg-opacity-50">
    <div id="modalContent"
        class="glassmorphism max-w-lg w-full mx-4 p-6 relative transform scale-95 opacity-0 transition">
        <button class="absolute top-2 right-2 text-gray-500 hover:text-gray-800" onclick="closeModal()">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
        </button>
        <img id="modalImage" src="" alt="Modal Image" class="w-full h-64 object-cover rounded-lg shadow-md mb-4">
        <p id="modalDescription" class="text-white text-center"></p>
    </div>
</div>

{% endblock %}
{% block script %}
$(document).ready(function () {
$(".like-dislike-form").submit(function (e) {
e.preventDefault();
var $form = $(this);
var id = $form.data("id");
var action = $form.find('input[name="action"]').val();
var $likeButton = $form.find('button[name="like"]');
var $likeInput = $form.find('input[name="like"]');
var currentLikeCount = parseInt($likeInput.val(), 10);

$.ajax({
type: "POST",
url: `{% url 'image_portfolio' 0 %}`.replace('0', id),
data: {
"like": action
},
headers: {
"X-CSRFToken": "{{ csrf_token }}"
},
success: function (response) {
var newLikeCount = response.like;
$likeInput.val(newLikeCount); // Update the hidden input with the new like count
$form.find("span.like-count").text(newLikeCount); // Update the displayed like count
if (newLikeCount > currentLikeCount) {
$likeButton.find('i').css("background-image", `url('{% static 'icons/liketrue.png' %}')`);
} else {
$likeButton.find('i').css("background-image", `url('{% static 'icons/likefalse.png' %}')`);
}
},
error: function () {
alert("An error occurred while processing your request.");
}
});
});

$(".follow-request-form").submit(function (e) {
e.preventDefault();
var $form = $(this);
var id = $form.data("id");

$.ajax({
type: "POST",
url: "{% url 'follow_request' 0 %}".replace('0', id),
headers: {
"X-CSRFToken": "{{ csrf_token }}"
},
success: function (response) {
console.log("successful.")
// Handle success for follow request
alert("Follow request successful.");
},
error: function () {
console.log("failed")
alert("An error occurred while processing your follow request.");
}
});
});
});


function openModal(id, description, imageSrc) {
var modal = document.getElementById('descriptionModal');
var modalContent = document.getElementById('modalContent');
document.getElementById('modalDescription').innerText = description;
document.getElementById('modalImage').src = imageSrc;
modal.classList.remove('hidden');
setTimeout(() => {
modalContent.classList.add('modal-enter-active');
modalContent.classList.remove('opacity-0');
modalContent.classList.remove('scale-95');
}, 10); // Delay to allow transition to take effect
}

function closeModal() {
var modal = document.getElementById('descriptionModal');
var modalContent = document.getElementById('modalContent');
modalContent.classList.add('modal-exit-active');
setTimeout(() => {
modal.classList.add('hidden');
modalContent.classList.remove('modal-exit-active');
modalContent.classList.add('opacity-0');
modalContent.classList.add('scale-95');
}, 300); // Delay hiding to allow transition to complete
}
{% endblock %}