{% extends "base.html" %}
{% load static %}
{% load custom_tags %}
{% block content %}
    <div class="flex items-center justify-center">
        <div class="max-w-3xl mx-auto rounded-lg overflow-hidden bg-white bg-opacity-30 backdrop-blur-md border border-white border-opacity-20 shadow-lg p-6 flex flex-col md:flex-row items-center space-x-6">
            <a href="{% url 'view_profile_image' request.user.id %}">
                {% if request.user.profile_image %}
                  <img src="{{ request.user.profile_image.url }}" alt="User Icon" class="w-24 h-24 object-cover rounded-full border-2 border-blue-500 mb-4 md:mb-0">
                {% else %}
                  <img src="{% static 'static_profile_image/default_profile_image.jpg' %}"
                       alt="User Icon">
                {% endif %}
              </a>
            <div class="flex-grow">
                <div class="flex flex-col md:flex-row items-center justify-between mb-4">
                    <div class="text-center md:text-left">
                        <div class="font-bold text-2xl">{{request.user.username}}</div>
                        <div class="text-gray-600">{{request.user.email}}</div>
                    </div>
                    <div class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-8 text-center">
                        <div>
                            <div class="text-xl font-semibold" id="followersCount">{{followers_count}}</div>
                            <div class="text-sm text-gray-600">Followers</div>
                        </div>
                        <div>
                            <div class="text-xl font-semibold" id="followingCount">{{following_count}}</div>
                            <div class="text-sm text-gray-600">Following</div>
                        </div>
                    </div>
                </div>
                <div class="text-gray-600 text-sm mb-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, pulvinar facilisis.</p>
                </div>
                <div class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4">
                    <button id="followButton"
                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        Follow
                    </button>
                    <button id="messageButton"
                            class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                        Message
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 py-6">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
            {% for item in data %}
                <div class="bg-white bg-opacity-30 backdrop-blur-md border border-white border-opacity-20 shadow-md rounded-lg overflow-hidden flex flex-col">
                    <div class="flex items-center px-3 py-2 bg-white bg-opacity-40 backdrop-blur-md border-b border-white border-opacity-20">
                        
                        <div class="ml-2">
                            
                            <p class="text-xs text-gray-500 ">{{ item.created_at.date }}</p>
                        </div>
                    </div>
                    <div class="my-2">
                        <img class="object-contain h-48 w-full"
                             src="/media/{{ item.image }}"
                             alt="{{ item.desc }}">
                    </div>
                    <div class="px-3 py-2 bg-white bg-opacity-40 backdrop-blur-md flex-1">
                        <div class="flex flex-col md:flex-row justify-between text-xs text-gray-600 mb-1">
                            <span><strong>{{ item.followers }}</strong> Followers</span>
                            <span><strong>{{ item.followings }}</strong> Following</span>
                        </div>
                        <p class="text-gray-800 text-sm line-clamp-2">{{ item.desc }}</p>
                    </div>
                    <div class="px-3 py-2 bg-white bg-opacity-40 backdrop-blur-md">
                        <div class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-2 mt-2">
                            <form method="POST"
                                  action="{% url 'confirmation_page' item.id %}"
                                  class="inline">
                                {% csrf_token %}
                                <button type="submit"
                                        class="bg-red-500 hover:bg-red-600 text-white font-bold py-1 px-2 rounded text-xs">
                                    <i class="fa fa-trash text-white text-sm"></i>
                                    <span>Delete</span>
                                </button>
                            </form>
                            <form method="GET" action="{% url 'edit_image' item.id %}" class="inline">
                                <button type="submit"
                                        class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-1 px-2 rounded text-xs">
                                    <i class="fa fa-edit text-white text-sm"></i>
                                    <span>Edit</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
