{% extends "base.html" %}
{% load static %}
{% load custom_tags %}
{% block style %}
    <style>
    /* Reset default margin and padding */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #f3f4f6;
    }

    .glassmorphism-card {
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 20px;
        transition: transform 0.3s ease;
    }

    .glassmorphism-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

    .glassmorphism-card-header {
        padding: 1rem;
        background-color: rgba(255, 255, 255, 0.1);
    }

    .glassmorphism-card-title {
        font-size: 1.2rem;
        font-weight: 600;
        color: #333;
        margin-bottom: 5px;
    }

    .glassmorphism-card-subtitle {
        font-size: 0.8rem;
        color: #666;
    }

    .glassmorphism-card-image {
        height: 200px;
        overflow: hidden;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .glassmorphism-card-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .glassmorphism-card-content {
        padding: 1rem;
    }

    .glassmorphism-card-actions {
        padding: 1rem; /* Adjust padding */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.1);
    }

    .glassmorphism-card-actions div {
        display: flex;
        align-items: center;
    }

    .glassmorphism-card-actions a,
    .glassmorphism-card-actions button {
        color: #666;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: color 0.3s ease;
        background: none;
        border: none;
        cursor: pointer;
        margin-right: 10px; /* Adjust spacing between action buttons */
        padding: 5px;
        border-radius: 5px;
        
    }

    .glassmorphism-card-actions a:hover,
    .glassmorphism-card-actions button:hover {
        color: #333;
        background-color: rgba(255, 255, 255, 0.2);
    }

    .glassmorphism-card-actions .edit-btn {
        background-color: rgba(255, 255, 255, 0.15);
        padding: 8px 12px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .glassmorphism-card-actions .edit-btn:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }

    .glassmorphism-card-actions .delete-btn {
        background-color: rgba(255, 0, 0, 0.8);
        color: white;
        padding: 8px 12px;
        border-radius: 5px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .glassmorphism-card-actions .delete-btn:hover {
        background-color: rgba(255, 0, 0, 1);
    }
    </style>
{% endblock %}
{% block content %}
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            {% for item in data %}
                <div class="glassmorphism-card">
                    <div class="glassmorphism-card-header">
                        <h2 class="glassmorphism-card-title">{{ item.user }}</h2>
                        <sub class="glassmorphism-card-subtitle">{{ item.created_at.date }}</sub>
                    </div>
                    <div class="glassmorphism-card-image">
                        <img src="/media/{{ item.image }}" alt="{{ item.desc }}">
                    </div>
                    <div class="glassmorphism-card-actions">
                        <div class="flex space-x-4">
                            <form method="POST" action="{% url 'image_portfolio' item.id %}">
                                {% csrf_token %}
                                <button type="submit" value="like" name="like">
                                    {% is_liked item.id as liked %}
                                    <i class="fa fa-heart {% if liked %}text-red-600 {% else %}text-gray-400 {% endif %}"
                                       style="font-size:24px"></i>
                                    {% if item.like %}{{ item.like }}{% endif %}
                                </button>
                            </form>
                            <form method="POST" action="{% url 'image_portfolio' item.id %}">
                                {% csrf_token %}
                                <button type="submit" value="dislike" name="like">
                                    {% is_disliked item.id as disliked %}
                                    <i style="background-image: {% if disliked %} url('{% static 'icons/disliketrue.png' %}') {% else %} url('{% static 'icons/dislikefalse.png' %}') {% endif %};
                                              background-size: cover;
                                              width: 24px;
                                              height: 24px;
                                              display: inline-block"></i>
                                    {% if item.dislike %}{{ item.dislike }}{% endif %}
                                </button>
                            </form>
                            <form method="POST" action="{% url 'image_portfolio' item.id %}">
                                {% csrf_token %}
                                <button type="submit" value="comment"  name="like">
                                    <i style="background-image: url('{% static 'icons/three-dots-in-a-speech-bubble-svgrepo-com.svg' %}');
                                              background-size: cover;
                                              width: 24px;
                                              height: 24px;
                                              display: inline-block"></i>
                                    {% if item.comment %}{{ item.comment }}{% endif %}
                                </button>
                            </form>
                        </div>
                        <div class="flex space-x-4 mt-2">
                            <a href="{% url 'confirmation_page' item.id %}" class="delete-btn">
                                <i class="fa fa-trash text-white" style="font-size:24px;"></i>
                                <span>Delete</span>
                            </a>
                            <a href="{% url 'edit_image' item.id %}" class="edit-btn">
                                <i class="fa fa-edit text-white" style="font-size:24px;"></i>
                                <span>Edit</span>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
