{% extends "base.html" %}
{% block content %}
  <div class="bg-gray-100 p-6 m-4">
    <div class="max-w-md mx-auto bg-white p-6 rounded-lg shadow-md">
      <h2 class="text-2xl font-bold mb-4">Upload Image</h2>
      <!-- Form for uploading image and description --> 
      <form action="#" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Image Upload -->
        <div class="mb-4">
          <label for="image" class="block text-gray-800 font-bold">Choose Image:</label>
          <input type="file" id="image" name="image" accept="image/*" class="mt-1" required>
        </div>
        <!-- Image Description -->
        <div class="mb-4">
          <label for="description" class="block text-gray-800 font-bold">Image Description:</label>
          <textarea id="description"
                    name="description"
                    rows="4"
                    class="mt-1 form-textarea w-full"
                    placeholder="Enter description here..."></textarea>
        </div>
        <!-- Submit Button -->
        <div class="flex justify-center">
          <a href="{% url 'upload_image' %}">
            <button type="submit"
                    class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
              Upload
            </button>
          </a>
        </div>
      </form>
    </div>
    <script>
// JavaScript to remove messages after 5 seconds

    </script>
  {% endblock %}
