{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="flex justify-center items-center min-h-screen bg-transparent">
        <div class="bg-white bg-opacity-10 backdrop-filter backdrop-blur-lg rounded-xl shadow-xl overflow-hidden w-full max-w-md mx-auto">
            <div class="flex flex-col items-center p-6">
                <div class="bg-white bg-opacity-30 backdrop-filter backdrop-blur-lg rounded-full p-2 shadow-lg mb-4 relative">
                    {% if request.user.profile_image %}
                        <img src="{{ request.user.profile_image.url }}"
                             alt="User Icon"
                             class="w-36 h-36 rounded-full border-4 border-indigo-400 transform transition duration-300 hover:scale-105 hover:border-2 shadow-lg">
                    {% else %}
                        <img src="{% static 'static_profile_image/default_profile_image.jpg' %}"
                             alt="User Icon"
                             class="w-36 h-36 rounded-full border-4 border-indigo-400 transform transition duration-300 hover:scale-105 hover:border-2 shadow-lg">
                    {% endif %}
                    <button class="absolute right-2 bottom-2 bg-indigo-500 text-white p-2 rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                            id="updateImageBtn">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="h-5 w-5"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 4.232l4.536 4.536m-4.536-4.536a2.5 2.5 0 113.536 3.536L7.5 19.5H3v-4.5L15.232 4.232z" />
                        </svg>
                    </button>
                </div>
                <h2 class="text-2xl font-bold text-gray-100 mb-6">Update Profile Picture</h2>
                <button type="button"
                        class="delete-button bg-red-500 text-white px-4 py-2 rounded-lg font-semibold transition duration-300 hover:bg-red-600"
                        id="deleteImageBtn">Delete Image</button>
            </div>
        </div>
    </div>
    <!-- Update Image Modal -->
    <div class="modal fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 hidden">
        <div class="modal-content bg-white bg-opacity-10 backdrop-filter backdrop-blur-lg rounded-lg shadow-lg p-6 w-full max-w-lg relative">
            <span class="close absolute top-2 right-2 text-gray-700 text-3xl font-bold cursor-pointer">&times;</span>
            <form method="post"
                  enctype="multipart/form-data"
                  class="flex flex-col items-center"
                  action="{% url 'updateprofileimage' %}">
                {% csrf_token %}
                <input type="file"
                       name="profile_image"
                       id="profileImageInput"
                       class="hidden"
                       required>
                <label for="profileImageInput"
                       class="bg-green-500 text-white px-4 py-2 rounded-lg font-semibold transition duration-300 hover:bg-green-600 cursor-pointer mb-4 inline-block">
                    Choose Image
                </label>
                <button type="submit"
                        class="update-button bg-indigo-500 text-white px-4 py-2 rounded-lg font-semibold transition duration-300 hover:bg-indigo-600">
                    Update Image
                </button>
            </form>
        </div>
    </div>
    <!-- Delete Confirmation Modal -->
    <div class="delete-modal fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 hidden">
        <div class="modal-content bg-white bg-opacity-10 backdrop-filter backdrop-blur-lg rounded-lg shadow-lg p-6 w-full max-w-sm relative">
            <span class="close-delete absolute top-2 right-2 text-gray-700 text-3xl font-bold cursor-pointer">&times;</span>
            <div class="text-center">
                <h2 class="text-2xl font-bold text-gray-100 mb-6">Confirm Deletion</h2>
                <p class="text-gray-100 mb-6">Are you sure you want to delete your profile picture?</p>
                <form method="post" action="{% url 'delete_profile_image' %}">
                    {% csrf_token %}
                    <button type="submit"
                            class="delete-button bg-red-500 text-white px-4 py-2 rounded-lg font-semibold transition duration-300 hover:bg-red-600">
                        Delete
                    </button>
                    <button type="button"
                            class="cancel-button bg-gray-500 text-white px-4 py-2 rounded-lg font-semibold transition duration-300 hover:bg-gray-600 ml-2">
                        Cancel
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
        $('#updateImageBtn').click(function() {
            $('.modal').removeClass('hidden');
        });
        $('.close').click(function() {
            $('.modal').addClass('hidden');
        });
        $('#deleteImageBtn').click(function() {
            $('.delete-modal').removeClass('hidden');
        });
        $('.close-delete, .cancel-button').click(function() {
            $('.delete-modal').addClass('hidden');
        });
    });
    </script>
{% endblock script %}
